.transactionTable {
    width: 100%;
    border-spacing: 0;
    margin-left: 30px;
}

    thead tr {
        background-color: #3B3F45;
        color: white;
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid black;
    }

    tbody tr:nth-of-type(even) {
        background-color: white;
    }

    tbody tr:nth-of-type(odd) {
        background-color: lightgrey;
    }
